
.wrong-guess {
    background-color: red;
    color: white;
    cursor: default;
}

.right-guess {
    background-color: green;
    color: white;
    cursor: default;
}

.red-text {
    font-size: 3rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: red;
    color: white;
}

.green-text {
    font-size: 3rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: green;
    color: white;
}