.letters-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 500px;
    margin: 1rem;
}

.letter-button {
    font-size: 1rem;
    margin: .2rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.wrong-guess {
    background-color: red;
}

.right-guess {
    background-color: green;
}