.name-container {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.letter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    height: 2rem;
    width: 2rem;
    margin: .5rem;
}

.name-letter {
    font-size: 1.2rem;
    margin: 0;
    visibility: hidden;
}

.guessed-letter {
    visibility: visible;
}