.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokeball {
    height: 4rem;
    cursor: pointer;
}

.text {
    margin: .2rem;
    font-size: .9rem;
}